<!DOCTYPE html>
<html lang="en">
  <head>
    <title>(◕‿◕)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--- Boostrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--- Custom stylesheet -->
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,500,700|Raleway:300,500,700" rel="stylesheet">
  </head>
  <body class="raleway steel-grey-bg">
    <div class="container container-1">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header" style="text-align: center;">
            <h1 class="raleway burnt-red-text" style="font-size:45px;">
              <a href="/">OtakuMe</a>
            </h1>
          </div>
        </div>
      </div>
      <br>
        <div class="col-md-8 offset-md-2">
        <div class="form-group">
           <form id="form"  action="/anime">
             <label for="textarea1" class="burnt-red-text" id="formLabel" style="font-size:30px;">
              <i class="fa fa-search"></i> Search
            </label>
             <input class="form-control input offwhite-bg" id="textarea1" placeholder="e.g., 'Naruto'" name="search"></input>
             <small id="discrpition" class="form-text text-muted">Search by title or author</small>
           </form>
       </div>
   </div>
       <script src="static/form.js"></script>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title" style="font-size: 20px;">
                <i class="fa fa-lightbulb-o"></i> Usage
              </h2>
            </div>
              <div class="panel-body">
                <p>
                    This website aggregates data from several sources, such as
                    <a href="https://www.animenewsnetwork.com/encyclopedia/api.php" target="_blank">
                      <b>AnimeNewsNetwork's encyclopedia API</b>
                    </a>. 
                    To search, enter a keyword into the box above. It will search in a database of
                    anime and manga titles to return works of interest. <b>Note:</b> if an anime title does
                    not have a crunchyroll link associated with it, that <i> does not necessarily </i> mean that
                    crunchyroll does not have it.
                </p>
              </div>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="blue-grey-bg">
      <div class="container">
          <!-- This is where the django will return search results -->
          {% block content %} {% endblock %}
      </div>
    </div>
    <script src="static/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
