/* Main.css */

.body{
  background-color: #f9fcff;
  font-family: 'Noto Sans', sans-serif;
}

.noto{
  font-family: 'Noto Sans', sans-serif;
  color: #0a3560;
}
.container{
  width: 1170px;
}

.img-thumbnail{
  width: 200px;
}

.a {
    color:inherit;
    text-decoration: none;
}
